* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
}

.yuque-plugin__options-container {
  width: 100vw;
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
}

.yuque-plugin__form-container {
  width: 872px;
  margin: 80px auto;
  padding: 90px 60px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  box-shadow: 0 10px 20px 0 rgb(236 236 236 / 86%);
}
